* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: rgb(65, 65, 65); */
    background-color: #fafaf9;
    height: 100vh;
}
.wrapper {
    font-family: 'Sora', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    height: 100%;
}
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(233, 233, 233, 0.75);
    transition: transform 200ms ease-in;
    cursor: pointer;
}
.card:hover {
    transform: translateY(-5px);
    scale: 1.01;
}
.top {
    max-width: 336px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}
img {
    max-width: 336px;
    border-radius: 10px;
}
.label {
    margin-top: 1rem;
    font-size: 10px;
    background-color: #e6d6fc;
    color: #883ae1;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 20px;
    font-weight: 600;
}
.heading {
    margin-top: 1rem;
    font-size: 18px;
}
.title {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 300;
    color: #6c727f;
}

.name {
    padding-top: 1rem;
    margin-top: 1rem;
    font-size: 12px;
    font-weight: 400;
    color: #6c727f;
    border-top: 1px solid #e5eaf0;
    padding: 1rem;
}
